section.division.meta-trader__mt4
    .container
        .mt4
            img.mt4__img.push-size-m(src="../assets/img/mt4/mt4.svg" alt="" width='150' height='150' loading='lazy')
            h3.title-size-m.u-weight-600.push-size-m 
                | Download MT4 for&nbsp;iOS/Android now and&nbsp;gain access to&nbsp;a&nbsp;wide range of&nbsp;features &&nbsp;over 2100 derivatives in
                a.link.link--clr-primary(href='https://www.fxpro.com/trading/metals' target='_blank' rel='noopener') Metals
                |, 
                a.link.link--clr-primary(href='https://www.fxpro.com/trading/energies' target='_blank' rel='noopener') Energy
                |, 
                a.link.link--clr-primary(href='https://www.fxpro.com/' target='_blank' rel='noopener') Stocks
                |, 
                a.link.link--clr-primary(href='https://www.fxpro.com/trading/indices' target='_blank' rel='noopener') Indices
                |, 
                a.link.link--clr-primary(href='https://www.fxpro.com/trading/futures' target='_blank' rel='noopener') Futures
                |, &&nbsp;more!
            .buttons.buttons--primary
                a.buttons__link(href='https://apps.apple.com/us/app/metatrader-4/id496212596' target='_blank' rel='noopener')
                    img.buttons__img(src="../assets/img/general/apple.svg" alt="Download on the App Store" loading='lazy' width='160' height='48')
                a.buttons__link(href='https://download.mql5.com/cdn/mobile/mt4/android?server=FxPro.com-Demo01,FxPro.com-Demo02,FxPro.com-Demo03,FxPro.com-Demo04,FxPro.com-Demo05,FxPro.com-Real01,FxPro.com-Real02,FxPro.com-Real03,FxPro.com-Real04,FxPro.com-Real05' target='_blank' rel='noopener')
                    img.buttons__img(src="../assets/img/general/android.svg" alt="Get it on Google Play" loading='lazy' width='160' height='48')
                