section.division.meta-trader__platform
    .container
        .platform
            .platform__item.platform__item--primary
                .platform__content
                    p.title-size-s.push-size-xxs Looking for&nbsp;a&nbsp;trading platform that brings your&nbsp;Metatrader accounts to&nbsp;your fingertips?
                    h2.title-size-l.u-weight-600 Look no further than the&nbsp;App!
            .platform__item.platform__item--tertiary
                picture
                    source(srcset='../assets/img/platform/chart@1x.webp 1x, ../assets/img/platform/chart@2x.webp 2x' type='image/webp')
                    img.platform__chart(src='../assets/img/platform/chart@1x.png' srcset='../assets/img/platform/chart@2x.png 2x' alt='' width='530' height='675')

            .platform__item.platform__item--secondary
                .platform__content
                    p.title-size-s.push-size-m With the&nbsp;MT4 and&nbsp;MT5 platforms included, our&nbsp;app offers unparalleled convenience and&nbsp;functionality for&nbsp;traders on&#x2011;the&#x2011;go.
                    
                    .buttons.buttons--secondary
                        a.buttons__link(href='https://fxpro.onelink.me/YhES/?af_js_web=true&af_ss_ver=2_3_0&pid=Website-Cross-Promo&c=website-cross-promo_smart_EU&af_channel=Website-Cross-Promo&af_web_dp=https://apps.apple.com/us/app/fxpro-cfd-forex-trading/id1436961771&_gl=1*1khnhk0*_ga*MTg5NTA5MzU5NS4xNjkwODAxMTc0*_ga_JT1ZR36N0N*MTY5MDkxNTc4NC4xMS4xLjE2OTA5MTcyNzMuMjYuMC4w*_ga_68RKQ2EPR2*MTY5MDkxNTc4NC4xMS4xLjE2OTA5MTcyNzMuMC4wLjA.' target='_blank' rel='noopener')
                            img.buttons__img(src="../assets/img/general/apple.svg" alt="Download on the App Store" loading='lazy' width='160' height='48')
                        a.buttons__link(href='https://fxpro.onelink.me/YhES/?af_js_web=true&af_ss_ver=2_3_0&pid=Website-Cross-Promo&c=website-cross-promo_smart_EU&af_channel=Website-Cross-Promo&af_web_dp=https://play.google.com/store/apps/details?id=com.fxpro.direct.app&_gl=1*1hjsrac*_ga*MTg5NTA5MzU5NS4xNjkwODAxMTc0*_ga_JT1ZR36N0N*MTY5MDkxNTc4NC4xMS4xLjE2OTA5MTcyNzMuMjYuMC4w*_ga_68RKQ2EPR2*MTY5MDkxNTc4NC4xMS4xLjE2OTA5MTcyNzMuMC4wLjA.' target='_blank' rel='noopener')
                            img.buttons__img(src="../assets/img/general/android.svg" alt="Get it on Google Play" loading='lazy' width='160' height='48')