section.division.meta-trader__traiding
    .container
        .traiding
            .traiding__item.traiding__item--secondary
                .traiding__content
                    h3.title-size-m.push-size-m.u-weight-600 With the&nbsp;App, you can take your&nbsp;trading to&nbsp;the&nbsp;next level. Whether you're an&nbsp;experienced trader or&nbsp;just starting out, our&nbsp;platform offers the&nbsp;features and&nbsp;functionality you need to&nbsp;trade like a&nbsp;pro!
                    .download
                        .download__img-container
                            img.download__img.u-hide-tablet-down(src="../assets/img/general/qr.svg" alt="" loading='lazy' width='100' height='100')
                            .buttons.buttons--secondary.u-hide-tablet-up
                                a.buttons__link(href='https://fxpro.onelink.me/YhES/?af_js_web=true&af_ss_ver=2_3_0&pid=Website-Cross-Promo&c=website-cross-promo_smart_EU&af_channel=Website-Cross-Promo&af_web_dp=https://apps.apple.com/us/app/fxpro-cfd-forex-trading/id1436961771&_gl=1*1khnhk0*_ga*MTg5NTA5MzU5NS4xNjkwODAxMTc0*_ga_JT1ZR36N0N*MTY5MDkxNTc4NC4xMS4xLjE2OTA5MTcyNzMuMjYuMC4w*_ga_68RKQ2EPR2*MTY5MDkxNTc4NC4xMS4xLjE2OTA5MTcyNzMuMC4wLjA.' target='_blank' rel='noopener')
                                    img.buttons__img(src="../assets/img/general/apple.svg" alt="Download on the App Store" loading='lazy' width='160' height='48')
                                a.buttons__link(href='https://fxpro.onelink.me/YhES/?af_js_web=true&af_ss_ver=2_3_0&pid=Website-Cross-Promo&c=website-cross-promo_smart_EU&af_channel=Website-Cross-Promo&af_web_dp=https://play.google.com/store/apps/details?id=com.fxpro.direct.app&_gl=1*1hjsrac*_ga*MTg5NTA5MzU5NS4xNjkwODAxMTc0*_ga_JT1ZR36N0N*MTY5MDkxNTc4NC4xMS4xLjE2OTA5MTcyNzMuMjYuMC4w*_ga_68RKQ2EPR2*MTY5MDkxNTc4NC4xMS4xLjE2OTA5MTcyNzMuMC4wLjA.' target='_blank' rel='noopener')
                                    img.buttons__img(src="../assets/img/general/android.svg" alt="Get it on Google Play" loading='lazy' width='160' height='48')
                        p.download__description Download the&nbsp;award&#x2011;winning App with&nbsp;MT4/MT5 included.
            .traiding__item.traiding__item--primary
                .traiding__composition
                    picture
                        source(srcset='../assets/img/traiding/traiding_1@1x.webp 1x, ../assets/img/traiding/traiding_1@2x.webp 2x' type='image/webp')
                        img.traiding__img.traiding__img--p1(src='../assets/img/traiding/traiding_1@1x.png' srcset='../assets/img/traiding/traiding_1@2x.png 2x' alt='' width='351' height='648')
                    picture
                        source(srcset='../assets/img/traiding/traiding_2@1x.webp 1x, ../assets/img/traiding/traiding_2@2x.webp 2x' type='image/webp')
                        img.traiding__img.traiding__img--p2(src='../assets/img/traiding/traiding_2@1x.png' srcset='../assets/img/traiding/traiding_2@2x.png 2x' alt='' width='351' height='648')
