meta(charset='utf-8')
title FxPro – The World’s No.1 Online Forex (FX) Broker
link(rel='shortcut icon' href='https://www.fxpro-finance.org/favicon.ico')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible' section='IE=edge')
link(rel="stylesheet" href="https://direct-website.azureedge.net/fonts/futura-font/futura.css" media="all")
link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css')
