*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: $clr-text-primary;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.division {
    padding: 40px 0;
}

.container {
    max-width: 1190px;
    padding: 0 10px;
    @include margin-auto;
}

.push {
    @each $name, $size in $push-sizes {
        &-size-#{$name}:not(:last-child) {
            @each $screen, $value in $size {
                @if $screen == 'desktop' {
                    margin-bottom: $value;
                }
        
                @include tablet-down {
                    @if $screen == 'tablet' {
                        margin-bottom: $value;
                    }
                }
        
                @include mob-down {
                    @if $screen == 'mobile' {
                        margin-bottom: $value;
                    }
                }
            }
        }
    }
}