.platform {
    display: flex;
    justify-content: space-between;

    @include tablet-down {
        flex-direction: column;
        align-items: center;
    }

    &__content {
        position: relative;
        z-index: 1;
        max-width: 270px;
    }

    &__chart {
        position: relative;
        top: -267px;
        z-index: 1;
        width: 100%;
        max-width: 530px;
        height: auto;
        @include hover-scale-animation;

        @include tablet-down {
            top: 10px;
            max-width: 430px;
        }
    }

    &__item {
        position: relative;

        &--primary {
            &::before {
                @include pseudo;
                left: -94px;
                top: -154px;
                width: 424px;
                height: 479px;
                transform: rotate(-120deg);
                border-radius: 479px;
                background: linear-gradient(180deg, rgba(244, 233, 81, 0.50) 0%, $clr-bgr-secondary 100%);
            }
        }
        
        &--secondary {
            @include tablet-down {
                top: 32px;
                text-align: center;
            }

            &::before {
                @include pseudo;
                left: -313px;
                top: -238px;
                width: 617px;
                height: 698px;
                transform: rotate(120deg);
                border-radius: 698px;
                border: 1px solid $clr-border-secondary;

                @include tablet-down {
                    left: -85px;
                    top: -115px;
                    width: 438px;
                    height: 495px;
                    border-radius: 495px;
                }

                @include mob-down {
                    left: -122px;
                }
            }
        }

        &--tertiary {
            @include tablet-up {
                max-height: 408px;
            }
        }
    }
}