doctype html
html(lang="en")
    head
        include includes/head-basic
    body
        link(rel='stylesheet' href='css/style.min.css')
        .meta-trader
            include layout/header
            main.main
                include blocks/platform
                include blocks/swiper
                include blocks/mt4
                include blocks/trading
            include layout/footer
        script(src='https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js')
        script(src='js/script.min.js')
