@mixin laptop-down {
  @media screen and (max-width: #{$laptop-width}) {
    @content;
  }
}

@mixin tablet-down {
  @media screen and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet-up {
  @media screen and (min-width: #{$tablet-width + 1px}) {
    @content;
  }
}

@mixin mob-down {
  @media screen and (max-width: #{$mob-width}) {
    @content;
  }
}

@mixin mob-up {
  @media screen and (min-width: #{$mob-width + 1}) {
    @content;
  }
}

@mixin pseudo {
  content: '';
  position: absolute;
}


@mixin margin-auto {
  margin-left: auto;
  margin-right: auto;
}

@mixin set-text-font($size) {
  font-size: $size;
  line-height: 150%;
}

@mixin hover-scale-animation {
  @include tablet-up {
    transition: transform .2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}