.meta-trader {    
    overflow: hidden;

    &__platform, &__about, &__traiding, &__swiper, &__mt4 {
        position: relative;
    }

    &__platform {
        @include tablet-down {
            top: -109px;
        }
    }

    &__about {
        @include tablet-down {
            top: -70px;
        }
    }

    &__traiding {
        top: 126px;

        @include tablet-down {
            top: 0;
        }
    }

    &__swiper {
        top: 38px;

        @include tablet-down {
            top: -74px;
        }
    }
    
    &__mt4 {
        top: 34px;

        @include tablet-down {
            top: -112px;
        }
    }
}