-
    var swiper = [
        {
            title: 'Seamless trading & advanced charting:',
            subtitle: 'Execute trades, monitor your&nbsp;positions, and analyse like a&nbsp;pro with&nbsp;live charts and&nbsp;indicators from&nbsp;TradingView.',
            imgName: 'trading',
        },
        {
            title: 'Full account management:',
            subtitle: 'Manage your&nbsp;trading accounts, deposit funds with 0 fees, and&nbsp;withdraw profits, all from&nbsp;within the&nbsp;app.',
            imgName: 'account',
        },
        {
            title: 'Stay on top of&nbsp;market moves:',
            subtitle: 'Use the integrated Economic Calendar and set alerts, and receive push notifications on increased volatility or significant market moves.',
            imgName: 'calendar',
        },
    ]
