footer.footer
    .footer__content
        h3.footer__title
            span.u-weight-300 Need Help? 
                br.u-hide-mob-up 
                | Visit our 
            a.link.link--clr-secondary(href='https://www.fxpro.com/help-section/faq' target='_blank') Help Section