header.header
    .container
        include ../blocks/logo

        .header__container
            .header__item
                img.header__img(src="../assets/img/general/mt.svg" alt="MT" width='300' height='265')
            .header__item
                .header__content
                    h1.header__title.title
                        span.title__item
                            span Trade Your
                            img.title__img(src="../assets/img/general/icon_mt.svg" alt="MT" width='62' height='54')
                            span MetaTrader
                        span.title__item Accounts in&nbsp;One App!
                    .header__download.download
                        .download__img-container
                            img.download__img.u-hide-tablet-down(src="../assets/img/general/qr.svg" alt="" loading='lazy' width='100' height='100')

                            .buttons.buttons--secondary.u-hide-tablet-up
                                a.buttons__link(href='https://fxpro.onelink.me/YhES/?af_js_web=true&af_ss_ver=2_3_0&pid=Website-Cross-Promo&c=website-cross-promo_smart_EU&af_channel=Website-Cross-Promo&af_web_dp=https://apps.apple.com/us/app/fxpro-cfd-forex-trading/id1436961771&_gl=1*1khnhk0*_ga*MTg5NTA5MzU5NS4xNjkwODAxMTc0*_ga_JT1ZR36N0N*MTY5MDkxNTc4NC4xMS4xLjE2OTA5MTcyNzMuMjYuMC4w*_ga_68RKQ2EPR2*MTY5MDkxNTc4NC4xMS4xLjE2OTA5MTcyNzMuMC4wLjA.' target='_blank' rel='noopener')
                                    img.buttons__img(src="../assets/img/general/apple.svg" alt="Download on the App Store" loading='lazy' width='160' height='48')
                                a.buttons__link(href='https://fxpro.onelink.me/YhES/?af_js_web=true&af_ss_ver=2_3_0&pid=Website-Cross-Promo&c=website-cross-promo_smart_EU&af_channel=Website-Cross-Promo&af_web_dp=https://play.google.com/store/apps/details?id=com.fxpro.direct.app&_gl=1*1hjsrac*_ga*MTg5NTA5MzU5NS4xNjkwODAxMTc0*_ga_JT1ZR36N0N*MTY5MDkxNTc4NC4xMS4xLjE2OTA5MTcyNzMuMjYuMC4w*_ga_68RKQ2EPR2*MTY5MDkxNTc4NC4xMS4xLjE2OTA5MTcyNzMuMC4wLjA.' target='_blank' rel='noopener')
                                    img.buttons__img(src="../assets/img/general/android.svg" alt="Get it on Google Play" loading='lazy' width='160' height='48')
                                

                        p.download__description Don't wait - download the&nbsp;App with&nbsp;MT4/MT5 included now!

            .header__item
                img.header__img(src="../assets/img/general/mt.svg" alt="MT" width='300' height='265')
